<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
    <!-- fragment styles-->
    <th:block th:fragment="styles">
        <!-- link file statici -->
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <!-- importo la webjars bootstrap (inserita nel POM) -->
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    </th:block>
</head>
<body>
    <!-- importo il frammento header -->
    <th:block th:replace="~{fragments :: header}"/>
    
    <h1 th:text="${id}"></h1>
</body>
</html>